
  .header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-bottom: 0.2em;
    line-height: 1.2;
    color: #222
  }
  
  .header h3 {
    font-weight: 400;
    color: #555;
    width: 30em;
  }
  
  .cards {
    display: flex;
    align-items: flex-start;
      justify-content: center;
  }
  
  .card-school-events {
    background: #fff;
    width: 24em;
    border-radius: 1.3em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    text-decoration: none;
    font-size: 10px;
  }

  .card-college-events {
    background: #fff;
    width: 24em;
    border-radius: 1.3em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    text-decoration: none;
    font-size: 10px;
  }
  
  .card-school-events:hover {
    font-weight: bold;
    border: 5px solid rgb(231, 196, 0);
    transform: scale(1.05);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }

  .card-college-events:hover {
    font-weight: bold;
    border: 5px solid rgb(236, 97, 33);
    transform: scale(1.05);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
  }
  
  .card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    text-decoration: none;
  }
  
  .card p {
    color: #777;
  }

  .card-body {
    padding: 1.2em;
  }

  .card-body h2 {
    font-weight: 600;
  }

  .contact-btn{
    border: 3px solid rgb(255, 187, 0);
    color: rgb(255, 188, 5);
    border-radius: 14px;
    height: 50px;
    width: 108px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding: 5px 10px;
    background-color: rgb(153, 113, 1);
  }

  .register-btn{
    border: 3px solid rgb(0, 195, 10);
    color: rgb(0, 195, 10);
    border-radius: 14px;
    height: 50px;
    width: 165px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding: 5px 10px;
    background-color: rgb(2, 102, 52);
    filter: blur(10%);
  }

  .contact-btn:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 188, 5);
  }

  .register-btn:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 195, 10);
  }

  .techetc-title{
    font-family: 'Techno Hideo', sans-serif;
  }
  
  a.lightbox img {
    width: 100%;
    height: auto;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  }
  
  .lightbox-target {
  z-index: 1;
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
   
  }

  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
    
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  }
  
  /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
    overflow:scroll;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0;
  }
  